* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@keyframes identifier {
  
}
body {
  background: linear-gradient(85deg, #281256, #ca8cd6, #a887f0);
  color: #ffffff;
}
.container h1 {
  font-family: sans-serif;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
  font-weight: 400;
  margin-bottom: 33px;
}
.container h1 span {
  color: red;
  font-size: 2.5rem;
  font-family: monospace;
  text-decoration: underline;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
textarea {
  background: #ac90e9;
  color: #ffffff;
  width: 600px;
  height: 250px;
  border-radius: 10px;
  border: none;
  resize: none;
  outline: 0;
  padding: 20px;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 30px;
  opacity: 0.9;
  font-weight: 800;
}
textarea::placeholder {
  color: #ffffff;
  opacity: 1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
}
.row {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 10px;
}
button {
  background: #f64612;
  color: #ffffff;
  font-size: 16px;
  border: 0;
  outline: 0;
  border-radius: 22px;
  padding: 12px 29px;
  cursor: pointer;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}
button img {
  width: 16px;
  margin-right: 10px;
}
button:hover {
  background: #f64612c7;
}
select {
  flex: 1;
  color: #ffffff;
  background: #806da9;
  height: 50px;
  padding: 0 20px;
  outline: 0;
  border: 0;
  border-radius: 35px;
  font-size: 1.2rem;
  appearance: none;
  background-image: url(images/dropdown.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: calc(100% - 20px);
  background-position-y: 20px;
  cursor: pointer;
}
